SmsPanelSms/Service References/YasnaService/Users.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="displayName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nationalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bcn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="familiarityMethodID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cityID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="fax" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="birthDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="CategoryID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="IsMale" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="parentUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parentPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddNewUserResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActivateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActivateUserResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeActivateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeActivateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeActivateUserResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIDByUserNameAndPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIDByUserNameAndPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserIDByUserNameAndPasswordResult" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncreaseUserCredit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userIDToCharge" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="smsCount" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="smsTariffID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncreaseUserCreditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IncreaseUserCreditResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncreaseUserCreditAndFixSmsTariff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userIDToCharge" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="smsCount" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="smsTariffID" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="smsTariffIDIsFixed" nillable="true" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncreaseUserCreditAndFixSmsTariffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IncreaseUserCreditAndFixSmsTariffResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="displayName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userTitle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nationalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bcn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="familiarityMethodID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cityID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="fax" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="birthDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="categoryID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isMale" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditUserResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSmsTariffsOfAUserCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userCategoryID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSmsTariffsOfAUserCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSmsTariffsOfAUserCategoryResult" type="tns:ArrayOfSMSTariff" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSMSTariff">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SMSTariff" nillable="true" type="tns:SMSTariff" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SMSTariff">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TariffTitle" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="UserCategoryID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FromPaymentAmount" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="FromDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="BasePrice" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSmsTariffDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="smsTariffID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSmsTariffDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSmsTariffDetailsResult" type="tns:ArrayOfSMSTariffDetails" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSMSTariffDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SMSTariffDetails" nillable="true" type="tns:SMSTariffDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SMSTariffDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SendPrice_Ascii" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="SendPrice_Unicode" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceivePrice" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="SMSCompanyName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCreditArticles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="targetUserID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="toDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="pageNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="rowsPerPage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="countOfAll" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditArticlesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCreditArticlesResult" type="tns:ArrayOfUserCreditArticle" />
            <s:element minOccurs="1" maxOccurs="1" name="countOfAll" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserCreditArticle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserCreditArticle" nillable="true" type="tns:UserCreditArticle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserCreditArticle">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SMSTrafficTypeName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="AmountInRialsPaied" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Remain" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userIDToGetDetails" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserDetailsResult" type="tns:UserDetails" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoryID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BirthDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NationalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BCN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EMail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Company" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FamiliarityMethodID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CityID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpirationDateTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMale" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMobileVerified" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="MobileVerificationPhrase" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userNameFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstNameFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastNameFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mobileNoFilter" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rowsPerPage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="requestedPageNumber" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="usersScope" type="tns:UsersScope" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="UsersScope">
        <s:restriction base="s:string">
          <s:enumeration value="AllMyDirectSubUsers" />
          <s:enumeration value="ExpiredUsers" />
          <s:enumeration value="ExpiringUsers" />
          <s:enumeration value="AllSystemUsers" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SearchUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchUsersResult" type="tns:ArrayOfUserDetails" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserDetails" nillable="true" type="tns:UserDetails" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllProvinces">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllProvincesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllProvincesResult" type="tns:ArrayOfProvince" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProvince">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Province" nillable="true" type="tns:Province" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Province">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProvinceName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllCitiesOfAProvince">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="provinceID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCitiesOfAProvinceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCitiesOfAProvinceResult" type="tns:ArrayOfCity" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="City" nillable="true" type="tns:City" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="City">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProvinceID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CityName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllFamiliarityMethods">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFamiliarityMethodsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFamiliarityMethodsResult" type="tns:ArrayOfFamiliarityMethod" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFamiliarityMethod">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FamiliarityMethod" nillable="true" type="tns:FamiliarityMethod" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FamiliarityMethod">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FamiliarityMethodName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUserCategories">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserCategoriesResult" type="tns:ArrayOfUserCategory" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserCategory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserCategory" nillable="true" type="tns:UserCategory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserCategory">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserCategoryName" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewUser" />
  </wsdl:message>
  <wsdl:message name="AddNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="ActivateUserSoapIn">
    <wsdl:part name="parameters" element="tns:ActivateUser" />
  </wsdl:message>
  <wsdl:message name="ActivateUserSoapOut">
    <wsdl:part name="parameters" element="tns:ActivateUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeActivateUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeActivateUser" />
  </wsdl:message>
  <wsdl:message name="DeActivateUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeActivateUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserIDByUserNameAndPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserIDByUserNameAndPassword" />
  </wsdl:message>
  <wsdl:message name="GetUserIDByUserNameAndPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserIDByUserNameAndPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IncreaseUserCreditSoapIn">
    <wsdl:part name="parameters" element="tns:IncreaseUserCredit" />
  </wsdl:message>
  <wsdl:message name="IncreaseUserCreditSoapOut">
    <wsdl:part name="parameters" element="tns:IncreaseUserCreditResponse" />
  </wsdl:message>
  <wsdl:message name="IncreaseUserCreditAndFixSmsTariffSoapIn">
    <wsdl:part name="parameters" element="tns:IncreaseUserCreditAndFixSmsTariff" />
  </wsdl:message>
  <wsdl:message name="IncreaseUserCreditAndFixSmsTariffSoapOut">
    <wsdl:part name="parameters" element="tns:IncreaseUserCreditAndFixSmsTariffResponse" />
  </wsdl:message>
  <wsdl:message name="EditUserSoapIn">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="EditUserSoapOut">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetSmsTariffsOfAUserCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetSmsTariffsOfAUserCategory" />
  </wsdl:message>
  <wsdl:message name="GetSmsTariffsOfAUserCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetSmsTariffsOfAUserCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetSmsTariffDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSmsTariffDetails" />
  </wsdl:message>
  <wsdl:message name="GetSmsTariffDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSmsTariffDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetCreditArticlesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCreditArticles" />
  </wsdl:message>
  <wsdl:message name="GetCreditArticlesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditArticlesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserDetails" />
  </wsdl:message>
  <wsdl:message name="GetUserDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="SearchUsersSoapIn">
    <wsdl:part name="parameters" element="tns:SearchUsers" />
  </wsdl:message>
  <wsdl:message name="SearchUsersSoapOut">
    <wsdl:part name="parameters" element="tns:SearchUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllProvincesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllProvinces" />
  </wsdl:message>
  <wsdl:message name="GetAllProvincesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllProvincesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCitiesOfAProvinceSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCitiesOfAProvince" />
  </wsdl:message>
  <wsdl:message name="GetAllCitiesOfAProvinceSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCitiesOfAProvinceResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllFamiliarityMethodsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFamiliarityMethods" />
  </wsdl:message>
  <wsdl:message name="GetAllFamiliarityMethodsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFamiliarityMethodsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserCategoriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserCategories" />
  </wsdl:message>
  <wsdl:message name="GetUserCategoriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserCategoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="UsersSoap">
    <wsdl:operation name="AddNewUser">
      <wsdl:input message="tns:AddNewUserSoapIn" />
      <wsdl:output message="tns:AddNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActivateUser">
      <wsdl:input message="tns:ActivateUserSoapIn" />
      <wsdl:output message="tns:ActivateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeActivateUser">
      <wsdl:input message="tns:DeActivateUserSoapIn" />
      <wsdl:output message="tns:DeActivateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserIDByUserNameAndPassword">
      <wsdl:input message="tns:GetUserIDByUserNameAndPasswordSoapIn" />
      <wsdl:output message="tns:GetUserIDByUserNameAndPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IncreaseUserCredit">
      <wsdl:input message="tns:IncreaseUserCreditSoapIn" />
      <wsdl:output message="tns:IncreaseUserCreditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IncreaseUserCreditAndFixSmsTariff">
      <wsdl:input message="tns:IncreaseUserCreditAndFixSmsTariffSoapIn" />
      <wsdl:output message="tns:IncreaseUserCreditAndFixSmsTariffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input message="tns:EditUserSoapIn" />
      <wsdl:output message="tns:EditUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSmsTariffsOfAUserCategory">
      <wsdl:input message="tns:GetSmsTariffsOfAUserCategorySoapIn" />
      <wsdl:output message="tns:GetSmsTariffsOfAUserCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSmsTariffDetails">
      <wsdl:input message="tns:GetSmsTariffDetailsSoapIn" />
      <wsdl:output message="tns:GetSmsTariffDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditArticles">
      <wsdl:input message="tns:GetCreditArticlesSoapIn" />
      <wsdl:output message="tns:GetCreditArticlesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <wsdl:input message="tns:GetUserDetailsSoapIn" />
      <wsdl:output message="tns:GetUserDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <wsdl:input message="tns:SearchUsersSoapIn" />
      <wsdl:output message="tns:SearchUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProvinces">
      <wsdl:input message="tns:GetAllProvincesSoapIn" />
      <wsdl:output message="tns:GetAllProvincesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCitiesOfAProvince">
      <wsdl:input message="tns:GetAllCitiesOfAProvinceSoapIn" />
      <wsdl:output message="tns:GetAllCitiesOfAProvinceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFamiliarityMethods">
      <wsdl:input message="tns:GetAllFamiliarityMethodsSoapIn" />
      <wsdl:output message="tns:GetAllFamiliarityMethodsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserCategories">
      <wsdl:input message="tns:GetUserCategoriesSoapIn" />
      <wsdl:output message="tns:GetUserCategoriesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsersSoap" type="tns:UsersSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewUser">
      <soap:operation soapAction="http://tempuri.org/AddNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateUser">
      <soap:operation soapAction="http://tempuri.org/ActivateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeActivateUser">
      <soap:operation soapAction="http://tempuri.org/DeActivateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIDByUserNameAndPassword">
      <soap:operation soapAction="http://tempuri.org/GetUserIDByUserNameAndPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncreaseUserCredit">
      <soap:operation soapAction="http://tempuri.org/IncreaseUserCredit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncreaseUserCreditAndFixSmsTariff">
      <soap:operation soapAction="http://tempuri.org/IncreaseUserCreditAndFixSmsTariff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap:operation soapAction="http://tempuri.org/EditUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSmsTariffsOfAUserCategory">
      <soap:operation soapAction="http://tempuri.org/GetSmsTariffsOfAUserCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSmsTariffDetails">
      <soap:operation soapAction="http://tempuri.org/GetSmsTariffDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditArticles">
      <soap:operation soapAction="http://tempuri.org/GetCreditArticles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <soap:operation soapAction="http://tempuri.org/GetUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <soap:operation soapAction="http://tempuri.org/SearchUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProvinces">
      <soap:operation soapAction="http://tempuri.org/GetAllProvinces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCitiesOfAProvince">
      <soap:operation soapAction="http://tempuri.org/GetAllCitiesOfAProvince" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFamiliarityMethods">
      <soap:operation soapAction="http://tempuri.org/GetAllFamiliarityMethods" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCategories">
      <soap:operation soapAction="http://tempuri.org/GetUserCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UsersSoap12" type="tns:UsersSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewUser">
      <soap12:operation soapAction="http://tempuri.org/AddNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivateUser">
      <soap12:operation soapAction="http://tempuri.org/ActivateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeActivateUser">
      <soap12:operation soapAction="http://tempuri.org/DeActivateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserIDByUserNameAndPassword">
      <soap12:operation soapAction="http://tempuri.org/GetUserIDByUserNameAndPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncreaseUserCredit">
      <soap12:operation soapAction="http://tempuri.org/IncreaseUserCredit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncreaseUserCreditAndFixSmsTariff">
      <soap12:operation soapAction="http://tempuri.org/IncreaseUserCreditAndFixSmsTariff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap12:operation soapAction="http://tempuri.org/EditUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSmsTariffsOfAUserCategory">
      <soap12:operation soapAction="http://tempuri.org/GetSmsTariffsOfAUserCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSmsTariffDetails">
      <soap12:operation soapAction="http://tempuri.org/GetSmsTariffDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditArticles">
      <soap12:operation soapAction="http://tempuri.org/GetCreditArticles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <soap12:operation soapAction="http://tempuri.org/GetUserDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <soap12:operation soapAction="http://tempuri.org/SearchUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProvinces">
      <soap12:operation soapAction="http://tempuri.org/GetAllProvinces" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCitiesOfAProvince">
      <soap12:operation soapAction="http://tempuri.org/GetAllCitiesOfAProvince" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFamiliarityMethods">
      <soap12:operation soapAction="http://tempuri.org/GetAllFamiliarityMethods" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCategories">
      <soap12:operation soapAction="http://tempuri.org/GetUserCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Users">
    <wsdl:port name="UsersSoap" binding="tns:UsersSoap">
      <soap:address location="http://n.sms.ir/ws/Users.asmx" />
    </wsdl:port>
    <wsdl:port name="UsersSoap12" binding="tns:UsersSoap12">
      <soap12:address location="http://n.sms.ir/ws/Users.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>